* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

main {
  display: block;
  padding: 15vh 20px 20px 20px; 
}

.address p {
  color: darkred;
  border-bottom: 2px solid darkred;
}

.category-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.category-wrapper img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.category-wrapper p {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px black;
  font-size: 90px;
  position: absolute;
  top: 30vw;
}


/*sidebar*/
.container {
  display: flex;
  gap: 20px;
  align-items: start;
  margin-top: 5vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sort-by {
  padding: 1rem;
}

#sort {
  border: 1px solid gray;
  border-radius: 2rem;
  padding: 0.5rem;
  padding-left: 0.5rem;
  width: 100%;
} 

.sort-by label { 
  padding-left: 1rem;
}

#no-results-label {
  margin: auto;
  display: block;
  padding-left: 6rem;
  color: gray;
  font-size: 2rem;
  transition: font-size 0.2s ease;
}

.container input {
  border: 2px solid gray;
  border-radius: 2rem;
  padding: 0.5rem;
}

/*grid*/
.grid-container {
  overflow-y: auto;
  height: 100vh;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; 
}

.incategory-product {
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
}

.incategory-product:hover {
  cursor: pointer;
  opacity: 70%;
}

.product-image {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.product-name, .product-price {
  margin:10px;
}

.product-price {
  color: rgb(158, 158, 158);
}

#no-results-label {
  display: none;
}

@media screen and (max-width: 768px) {
  main {
    padding-top: 9vh;
  }

  .category-wrapper p {
    position: absolute;
    top: 40vh;
    left: 25vw;
  }

  .product-grid {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 460px) {
    .category-wrapper img {
      width: 100%;
      height: 80vh;
    }

    .category-wrapper p {
      font-size: 3rem;
      top: 40vh;
      left: 25vw;
    }

    .container {
      flex-direction: column;
    }

    .sidebar {
      margin-bottom: 1rem;
    }

    .product-image {
      height: 300px;
    }
}