* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

main {
  display: block;
  padding: 7vw 20px 20px 20px; 
}

.address p {
  color: darkred;
  border-bottom: 2px solid darkred;
}

.category-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.category-wrapper img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.category-wrapper p {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px black;
  font-size: 90px;
  position: absolute;
  top: 30vw;
}


/*sidebar*/
.container {
  display: flex;
  gap: 20px;
  align-items: start;
  margin-top: 5vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sort-by {
  padding: 1rem;
}

#sort {
  border: 1px solid gray;
  border-radius: 2rem;
  padding: 0.5rem;
  padding-left: 0.5rem;
  width: 100%;
} 

.sort-by label { 
  padding-left: 1rem;
}

#no-results-label {
  margin: auto;
  display: block;
  padding-left: 6rem;
  color: gray;
  font-size: 2rem;
  transition: font-size 0.2s ease;
}

.container input {
  border: 2px solid gray;
  border-radius: 2rem;
  padding: 0.5rem;
}

/*grid*/
.incategory-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  height: 150vh;
  width: 100%;
  overflow-y: auto;
}

.incategory-product {
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
}

.incategory-product img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.incategory-product:hover {
  cursor: pointer;
  opacity: 70%;
}

