* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

main {
  display: block;
  padding: 10% 20px 20px 20px; 
}

.wrapper {
  display: block;
}

.wrapper h1 {
  padding: 20px;
  color: white;
  background-color: darkred;
}

.review {
  display: grid;
  grid-template-columns: 50% auto;
  grid-gap: 150px;
  margin-bottom: 100px;
}

.checkout-panel form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.checkout-panel input[type="submit"] {
  color: white;
  background-color: black;
}

#billing_form {
  display: none;
  flex-direction: column;
  gap: 20px;
}

/*order summary display*/
.order-summary section {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.merch-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
  gap: 40px;  
  border: 2px solid lightgray;
}

.merchandise {
  display: flex;
  gap: 1em;
  margin: 20px;
}

.product:hover {
  cursor: pointer;
}

.product-image {
  width: 15vw;
  height: 40vh;
  object-fit: cover;
  object-position: top;
}

.product-info {
  display: flex;
  flex-flow: column;
}

.product-price {
  color: darkred;
}

.product-quantity {
  margin-top: 4rem;
  border: 1px solid lightgray;;
  width: 30px;
  text-align: center;
  color: darkgrey;
}

.wrapper h2 {
  text-align: center;
  margin: 30px;
  padding: 10px;
  border-top: 2px solid darkred;
  border-bottom: 2px solid darkred;
}

.merch-gallery {
  display: flex;
  overflow: auto;
  gap: 40px;  
  margin-top: 20px;
  text-align: center;
}

.merch-gallery div {
  margin: 20px;
  box-shadow: 0px 0px 10px rgb(56, 5, 5);
}

.merch-gallery img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  object-position: top;
  margin: 20px
}

@media screen and (max-width: 768px) {
  .review {
    grid-template-columns: auto;
    grid-gap: 10vh;
    margin-bottom: 10vh;
  }

  .product-image {
    width: 30vw;
    height: 30vh;
  }
}

@media screen and (max-width: 460px) {
  .product-image {
    height: 25vh;
  }

  .product-quantity {
    margin-top: 2rem;
  }
}