* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

main {
    display: block;
    padding: 10% 20px 20px 20px; 
}

.wrapper {
    display: block;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 40vh;
}

.wrapper h1 {
    padding: 10px;
    border-bottom: 2px solid darkred;
}

.wrapper > section {
    margin-bottom: 10vh;
    text-align: left;
}

.contact-container {
    padding-top: 4rem;
    max-width: 800px;
    margin: 0 auto;
}





