footer {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mid-col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer-container {
  display: inline-block;
  text-align: center;
}

.newsletter,
.social-media {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

input[type="email"] {
  border-radius: 15px;
  border: 1px solid gray;
  padding: 10px 20px;
  font-size: 16px;
}

button[type="submit"] {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.social-media a {
  width: 25%;
  text-align: center;
  margin-left: 10px;
}

.icon-social {
  align-items: center;
  width: 4%;
  height: 4%;
  margin: 0.2rem;
}

.topfooter {
  display: inline-block;
}