.gallery-wrapper {
  display: grid;
  grid-template-columns: 10% auto 10%;
  padding-top: 50px;
}

.swapper-gallery {
  margin: auto;
  transition: transform 0.5s ease-in-out;
  width: auto;
}

#current-image {
  width: 1200px;
  height: 700px;
  transition: opacity 0.5s ease-in-out;
  object-fit: cover;
  outline: double white 5px;
}

.left-arrow,
.right-arrow {
  font-size: 60px;
  color: black;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.description-wrapper {
  display: block;
  text-align: center;
  margin: 30px;
  background-color: rgb(255, 255, 255);
  outline: double white 5px;
  justify-content: center;
}

.left-arrow:hover,
.right-arrow:hover {
  color: #333;
  transform: scale(1.1);
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
    .gallery-wrapper {
      grid-template-columns: 5% auto 5%;
    }
  
    #current-image {
      width: 100%;
      height: auto;
    }
  
    .left-arrow,
    .right-arrow {
      font-size: 40px;
    }
  
    .itemdesc {
      width: 90%;
      font-size: 1.5rem;
    }
  }
