.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.left-col {
  display: flex;
  width: 25%;
  padding-left: 1rem;
}

.logo-col {
  width: 50%;
  text-align: center;
}

.logo {
  width: 40%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.right-col {
  display: flex;
  width: 25%;
  justify-content: end;
  padding-right: 1rem;
}

.icon {
  /* display: flex;
    justify-content: space-between; */
  align-items: center;
  width: 6%;
  height: 6%;
  margin: 0.5rem;
}

.icon:hover {
  opacity: 75%;
  width: 7%;
  height: 7%;
  cursor: pointer;
}

.search-bar {
  width: 50%;
  border-radius: 15px;
  border: 1px solid #808080;
  padding: 10px 20px;
  font-size: 16px;
}

.search-icon {
  width: 6%;
  height: 6%;
}

.search-icon:hover {
  opacity: 75%;
  width: 7%;
  height: 7%;
  cursor: pointer;
}

.mg {
  padding-top: 10px;
  display: inline;
}


