* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

main {
  display: block;
  padding: 7vw 20px 20px 20px;
}

/*Categories display*/
.category-container {
  display: flex;
  align-items: center;
  background-color: rgb(126, 6, 6);
  overflow: hidden;
  text-align: center;
}

.category {
  width: 25%;
  height: 100vh;
  transition: all 0.5s;
  position: relative;
}

.category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.category p {
  position: absolute;
  bottom: 16rem;
  left: 0;
  right: 0;
  padding: 10px;
  font-size: 34px;
  text-align: center;
  transition: all 0.5s;
  transform: translateY(100%);
  color: snow;
  font-weight: 700;
  text-shadow: 2px 2px 3px black;
}

.category:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.category:hover img {
  opacity: 70%;
}

.category:hover p {
  transform: translateY(0);
}

/*Products display*/
.product-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  margin: 50px;
}

.product {
  text-align: center;
  background-color: white;
  padding: 10px;
}

.product:hover {
  opacity: 70%;
  cursor: pointer;
}

.product-image {
  width: 400px;
  height: 500px;
  object-fit: cover;
  object-position: center top;
  margin: 10px;
}

.product-name, .product-price {
  margin:5px;
  font-size: 17px;
}

.product-price {
  color: rgb(158, 158, 158);
  font-size: 14px;
}

.grid-button {
  display: flex;
  justify-content: center;
}

.right-col {
  display: flex;
  align-items: center;
}

.login-dropdown {
  position: relative;
  display: inline-flex;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-item {
  width: 100%;
    padding: 10px;
    background-color: #E42217;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.login-dropdown:hover .dropdown-menu {
  display: block;
}

.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-image {
  width: 100%;
  height: auto;
}

.hero-text {
  position: absolute;
  bottom: 100px;
  left: 70px; 
  text-align: left;
  color: #FFF;
  font-size: 1.7rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
}

.transparent-button {
  display: inline-block;
  background-color: transparent;
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.transparent-button:hover {
  background-color: #FFF;
  color: #000;
}

@media (max-width: 768px) {
  .hero-container {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .rectangle {
    padding-top: 4rem;
    width: 100%;
    height: auto;
  }

  .category-container {
    flex-direction: column;
  }

  .category {
    width: 100%;
    height: 20vh; /* Set the height of each category to 25% of the viewport height */
    min-height: 150px; /* Set a minimum height to prevent categories from being too small */
  }

  .category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top; /* Set the object position to the top center of each image */
  }

  .category p {
    font-size: 26px;
    bottom: 6rem;
  }
}

@media screen and (max-width: 500px) {
  .product-grid {
    display: flex;
    flex-flow: column;
    overflow: auto;
    height: 100vh;
  }
}

@media screen and (max-width: 1200px) {
  .rectangle {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  .product-image {
    width: 100%;
    height: auto;
  }
}