* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

main {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.container > div {
    border: 2px solid lightgray;
}

.container h1 {
    padding: 20px;
    color: white;
    background-color: darkred;
}

.order-summary {
    display: flex;
    justify-content: space-around;
}

.order-summary section {
    margin: 2rem;
}

.shipping_info {
    padding: 2rem;
    border-top: 2px solid lightgray;
    text-align: center;
    font-size: 2rem;
}

/*merchandise display*/
.merch-container {
    display: flex;
    gap: 40px;  
    overflow-y: auto;
    width: 80vw;
    border-top: 2px solid lightgray;
}

.merchandise {
    display: flex;
    gap: 1em;
    margin: 3rem;
}
  
.product-image {
    width: 15vw;
    height: 20vw;
    object-fit: cover;
    object-position: top;
}
  
.product-info {
    display: flex;
    flex-flow: column;
    width: 100%;
}
  
.product-price {
    color: darkred;
}
  
.product-quantity {
    border: 1px solid lightgray;;
    width: 30px;
    text-align: center;
    color: darkgrey;
}

.container button {
    margin-top: 2rem;
    width: 30rem;
    font-size: 30px;
    font-weight: 500;
    padding: 1rem;
    color: white;
    background-color: darkred;
    border-radius: 20px;
}