* {
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
}

main {
  display: block;
  padding: 10% 20px 20px 20px; 
}

.wrapper {
  display: block;
  text-align: center;
  margin: 5rem;
}

.wrapper h1 {
  padding: 10px;
  width: 30vw;
  margin: auto;
  margin-bottom: 20px;
  color: white;
  background-color: darkred;
  border-radius: 10px;
}

.wrapper form {
  display: flex;
  flex-flow: column;
  width: 30vw;
  gap: 20px;
  margin: auto;
  margin-bottom: 100px;
}

.wrapper form > div {
  display: flex;
  justify-content: space-between;
}

.wrapper form > div > a {
  color: black;
  font-size: medium;
}

.wrapper input[type="submit"] {
  color: white;
  background-color: black;
}
