* {
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
}

main {
  display: block;
  padding: 10% 20px 20px 20px; 
}

.wrapper {
  display: block;
}

.wrapper h1 {
  padding: 20px;
  color: white;
  background-color: darkred;
}

.review {
  display: grid;
  grid-template-columns: 60% auto;
  grid-gap: 50px;
  margin-bottom: 100px;
}

.merch-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
  gap: 40px;  
  border: 2px solid lightgray;
}

.merchandise {
  display: flex;
  gap: 2em;
  margin: 20px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 5px;
}

.product-image {
  width: 10vw;
  height: 13vw;
  object-fit: cover;
  object-position: top;
  opacity: 90%;
}

.product-info {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.merchandise section {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between; 
}

.quantity-input {
  width: 60%;
  border: none;
  box-shadow: 2px 2px 8px gray;
  border-radius: 10px;
  padding: 5px;
  margin-top: 50%;
}

.order-summary {
  border: 2px solid lightgray;
}

.order-summary section {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.checkout {
  display: flex;
  align-items: center;
  margin: 3em;
} 

.wrapper h2 {
  text-align: center;
  margin: 30px;
  padding: 10px;
  border-top: 2px solid darkred;
  border-bottom: 2px solid darkred;
}

.merch-gallery {
  display: flex;
  overflow: auto;
  gap: 40px;  
  margin-top: 20px;
  text-align: center;
}

.merch-gallery div {
  margin: 20px;
  box-shadow: 0px 0px 10px rgb(56, 5, 5);
}

.merch-gallery img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  object-position: top;
  margin: 20px
}