body {
  font-family: Arial, sans-serif;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 2rem;
  
}

.product:hover{
  opacity: 80%;
  cursor: pointer;
}

.product {
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
}

.product img {
  width: 80%;
  height: 400px;
  object-fit: cover;
}

.product h3 {
  margin-top: 0.5rem;
  font-size: 20px;
}

.product p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #999;
}

.swapper-gallery {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

#current-image {
  width: 75%;
  transition: opacity 0.5s ease-in-out;
}



.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.category-sections {
  display: flex;
  justify-content: center;
  height: 100vh; /* set the height to 100% of the viewport */
}

.rectangle {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1500px;
  height: 750px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  overflow: hidden;
}

.category-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.category {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.5s;
}

.category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category p {
  position: absolute;
  bottom: 16rem;
  left: 0;
  right: 0;
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 10px;
  font-size: 34px;
  text-align: center;
  transition: all 0.5s;
  transform: translateY(100%);
  color: snow;
  font-weight: 700;
  /* -webkit-text-stroke: 0.5px black;
  text-stroke: 0.5px black; */
  text-shadow: 2px 2px 3px black;
  
}

.category:hover img {
  transform: scale(1.05);
  opacity: 90%;
}

.category:hover p {
  transform: translateY(0);
}

.itemdesc { 
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  
}

.buttondesc {
  margin: auto;
  display: block;
  padding: 1rem;
  border: solid black;
  background: black;
  color: white;
  border-radius: 2rem;
  font-size: 1rem;
  transition: font-size 0.2s ease;
}

.buttondesc:hover{
  cursor: pointer;
  font-size: 1.25rem;
}

.desc-wrapper{
  padding-bottom: 6rem;
}

.category-page {
  margin-top: 7vw;
}

.category-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  margin: auto;
}

.category-pic {
  position: relative;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 68px;
  color: snow;
  text-align: center;
  text-shadow: 2px 2px 3px black;
  font-weight: 700;
}

.category img:hover {
  cursor: pointer;
}


