footer {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.footer-container {
  display: block;
  text-align: center;
}

.newsletter {
  display: flex;
  justify-content: center;
}

.newsletter form input[type="email"] {
  width: 400px;
  border-radius: 15px;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-media a {
  color: rgb(189, 0, 0);
  margin: 20px;
}

.social-media a:hover {
  color: rgb(122, 1, 1);
}
