* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  
}

main {
  display: block;
  padding-top: 8%;
}

.rectangle {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1500px;
  height: 750px;
  overflow: hidden;
}

/*Categories display*/
.category-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(126, 6, 6);
}

.category {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.5s;
}

.category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category p {
  position: absolute;
  bottom: 16rem;
  left: 0;
  right: 0;
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 10px;
  font-size: 34px;
  text-align: center;
  transition: all 0.5s;
  transform: translateY(100%);
  color: snow;
  font-weight: 700;
  /* -webkit-text-stroke: 0.5px black;
  text-stroke: 0.5px black; */
  text-shadow: 2px 2px 3px black;
  
}

.category:hover img {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 80%;
}

.category:hover p {
  transform: translateY(0);
}

/*Gallery display*/
.swapper-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

#current-image {
  width: 1000px;
  height: 650px;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.left-arrow,
.right-arrow {
  position: absolute;
  font-size: 40px;
   color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.left-arrow {
  left: 80px;
}

.right-arrow {
  right: 80px;
}

/*Products display*/
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 2rem;
}

.product {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product h3 {
  margin-top: 0.5rem;
}

.product p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #999;
}