.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.left-col,
.right-col {
  width: 25%;
  text-align: center;
}

.left-col {
  display: inline;
}

.logo-col {
  width: 50%;
  text-align: center;
}

.logo {
  width: 65%;
  height: 65%;
}

.icon {
  /* display: flex;
    justify-content: space-between; */
  align-items: center;
  width: 6%;
  height: 6%;
  margin: 0.5rem;
}

.icon:hover {
  opacity: 75%;
  width: 7%;
  height: 7%;
  cursor: pointer;
}

.search-bar {
  width: 50%;
  border-radius: 15px;
  border: 1px solid gray;
  padding: 10px 20px;
  font-size: 16px;
}

.search-icon {
  width: 6%;
  height: 6%;
}

.search-icon:hover {
  opacity: 75%;
  width: 7%;
  height: 7%;
  cursor: pointer;
}

.mg {
  padding-top: 10px;
  display: inline;
}


